.footer__column-links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: gray;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
}

.footer__column-links:last-of-type {
  margin-bottom: 16px;
}

