div, main, a, p, h1, h2, h3, h4, section {
  border: 1px solid red;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  /* parameters for the header section */
}

.logo {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  background-image: url(../images/logo.png);
  height: 31px;
  width: 154px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  margin: 0 0 0 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  left: 64px;
  bottom: 30px;
  z-index: 10;
}

.header__link {
  text-decoration: none;
  color: #2F80ED;
}

.header__main-illustration {
  position: absolute;
  line-height: 0;
  height: 608px;
  width: 765px;
  right: 64px;
  bottom: 0;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  top: 64px;
  right: 0;
}

.content {
  padding-top: 100px;
}

.space-between_xl {
  height: 100px;
}

.space-between_l{
  height: 90px;
}

.space-between_m {
  height: 60px;
}

.space-between_s {
  height: 40px;
}

.space-between_xs {
  height: 30px;
}

.space-between_xxs {
  height: 20px;
}

.space-between_xxxs {
  height: 16px;
}

.description {
  display: flex;
  justify-content: center; /*?????????*/
}

.flex_row {
  display: flex;
}

.flex_horizontal_center {
  justify-content: center;
}

.flex_space_between {
  justify-content: space-between;
}

.flex_align-items_stretch {
  align-items: stretch;
}

.flex_column {
  display: flex;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}

.two-columns__paragraph_no-margin {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}

.digits {
  padding: 100px 0;
}

.section-title {
  text-align: center;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.digits__section-title {
  margin: 0 auto 20px;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits__section-subtitle {
  margin: auto;
}

.table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 1100px;
}

.digits__table {
  margin: 0 auto;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.table__text_bottom-margin {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

.table__line-breaker {
  flex-basis: 100%;
  height: 0;
}

.feynman {
  position: relative;
  padding-top: 100px;
  height: 790px;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #F2F2F2;
}

.feynman__title {
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 774px;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #1F1F1F;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}

.kaufman__background_color {
  position: relative;
  z-index: -2;
  background-color: #1F1F1F;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: -210px;
  background-image: url(../images/triangle.svg);
}

.kaufman__section-title {
  margin: 0 auto 20px;
}

.section-title_theme_dark {
  color: white;
}

.kaufman__section-subtitle {
  margin: auto;
}

.section-subtitle_theme_dark {
  color: white;
}

.kaufman__table {
  margin: 0 auto;
}

.table_theme_dark{
  color: white;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color:#1F1F1F;
  display: flex;
}

.footer__columns {
  width: 90%;
  color: white;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer__columns_content_copyright {
  position: relative;
  flex-basis: 711px;
  min-height: 350px;
}

.logo_place_footer {
  background-image: url(../images/logo_white.png);
  height: 35px;
  width: 183px;
  top: 0;
  left: 0;
}

.footer__author {
  position: absolute;
  left: 0;
  bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: grey;
}

.footer__columns_content_info {
  position: relative;
}


.footer__columns_content_social {
  position: relative;
}

.footer__column-heading {
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
  padding: 0;
  white-space: nowrap;
}

.footer__column-links {
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: gray;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin-right: 10px;
}
